body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 500px;
  margin: 0 auto;
}

#searchBar {
  width: 10rem;
  height: 1rem;
}

#searchButton {
  width: 5rem;
  border-radius: 3px;
  background-color: lightblue;
  font-weight: bold;
  font-size: 18px;
}
